body {
  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#ttt{
    margin-top: 10px;
    width: 100%;
    height: 30px;
}
.content {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

}

table {
    margin-top: 16px;
    width: max-content;
}

th {
    background-color: gray;
}
